<form>
  <label>Courses</label>
  <div *ngFor="let c of this._couList">
   <input type="checkbox" name="{{c.cname}}">{{c.cname}}

  </div>
</form>







<!-- <form (ngSubmit)="onselect()">
  <label>Select the Course</label><br>
  <pre>
  <input type="checkbox" name="ck" value="Java">Java
  <input type="checkbox" name="ck" value="Advance-java">Advance-java
  <input type="checkbox" name="ck" value="PHP">PHP
  <input type="checkbox" name="ck" value="Salesforce">Salesforce
  <input type="checkbox" name="ck" value="Python">Python
</pre>
<button type="button">Submit</button>
</form>  -->

